@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary-color: #854d27;
    --secondary-color: #dd7230;
    --tertiary-color: #f4c95d;
    --bg-color-light: #e7e393;
    --bg-color-dark: #04030f;
    --color-contrast: white;
    --color-normal: black;
    --color-fries: black;
    --transition-basic: 0.5s ease-in-out;
}

* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    color: var(--bg-color-dark);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
}

body.active {
    --primary-color: black;
    --secondary-color: #dd7230;
    --tertiary-color: black;
    --bg-color-light: #e7e393;
    --bg-color-dark: #04030f;
    --color-contrast: black;
    --color-normal: white;
    --color-fries: #854d27;
}

section {
    width: 100%;
    height: auto;
    padding: 50px;
    text-align: center;
}

h1 {
    margin: 30px 0;
    text-transform: uppercase;
    color: #e7e393;
    font-size: 70px;
    font-weight: 500;
    
}

h2 {
    color: #854d27;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

span {
    color: var(--color-contrast);
    font-size: 25px;
    font-weight: 400;
}

/* navbar start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0.5px 0.5px 3px 0.5px rgb(136,136,136);
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: var(--color-normal);
    z-index: 1000;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
}
.logo .fa-mug-hot {
    color: var(--bg-color-light);
    transform: translateY(-5px);
}


.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a {
    color: var(--color-contrast);
    margin: 2px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}
.navbar ul li .active,
.navbar ul li a:hover {
    background-color: var(--primary-color);
    color: var(--color-normal);
    transition: 0.3s ease-in-out;
    
}

#menu-toggle {
    display: none;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icons i {
    cursor: pointer;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #04030f;
    background-color: var(--bg-color-light);
    transition: 0.5s ease-out;

}
.icons i:hover {
    background-color: #dd7230;
    color: white;
    transform: rotate(360deg);

}

#search-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10005;
}

#search-form.active {
    top: 0;
}

#search-form input {
    width: 500px;
    height: auto;
    padding: 20px 40px;
    background-color: transparent;
    border-bottom: solid white 3px;
}
#search-form input::placeholder {
    font-size: 25px;
    color: white;
}
#search-form .fa-solid {
    cursor: pointer;
    font-size: 35px;
    color: white;
}
#search-form .fa-solid.fa-xmark {
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
}
#search-form .fa-solid:hover {
    color: var(--secondary-color);
}


/* about section start */

.about {
    position: relative;
    object-fit: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-attachment: fixed;
}

.about .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    z-index: 500;
}



/* trust badges section start */

.trust {
    padding: 10px;
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
}

.trust .trust-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.trust .trust-wrapper .trust-card {
    width: 150px;
    height: auto;
    padding: 5px;
    text-align: center;
}

.trust-card i {
    font-size: 40px;
    color: var(--bg-color-light);
    margin-top: 10px;
}
.trust-card h3 {
    font-size: 15px;
    color: black;
    margin: 5px 0;
}
.trust-card h5 {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-normal);
    margin-bottom: 10px;
}

/* tab section start */
.tab {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container {
    width: 800px;
    height: 500px;
    overflow: hidden;
}
.tab-btn-container ul {
    
    display: flex;
}
.tab-btn-container .tab-number {
    color: white;
    cursor: pointer;
    padding: 20px;
}
.tab-btn-container .tab-number.active {
    background-color: rebeccapurple;
}

.tab-container .content-box {
    display: none;
    background-color: rebeccapurple;
    padding: 40px;
    height: 500px;
    width: 100%;
}
.tab-container .content-box.active {
    display: block;
}
/* page-editor section start */

.page-editor {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: var(--color-normal);

}
.page-editor a {
    color: var(--color-contrast);
}
.page-editor a h5 {
    color: var(--color-contrast);
    text-decoration: underline;
    letter-spacing: 1.5px;
    line-height: 5px;

}
.page-editor a h5:hover {
    color: var(--secondary-color);

}


/* footer section start */

.footer {
    padding: 40px;
    background-color: var(--primary-color);
}

.footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.footer-menu h3,
.footer-menu p {
    text-align: center;
    color: white;
}

.footer-menu p {
    margin: 10px 0;
    font-weight: 200;
}
.footer-menu h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.copyright h5 {
    color: var(--bg-color-light);
    letter-spacing: 1px;
}

.footer-menu ul li {
    margin: 5px 0;
}

.footer-menu ul li a {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}
.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-menu .icons {
    display: flex;
    justify-content: center;
    
}

.footer-menu .icons i {
    margin: 0 10px;
}
.copyright {
    text-align: center;
    margin-top: 40px;
}


/* media queries */

@media screen and (max-width: 1450px) {

    
    h1 {
        font-size: 60px;
    }
    span {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 1300px) {


    #menu-toggle {
        display: inline-block;
    }

    header {
        padding: 10px 20px;
    }

    .logo {
        font-size: 35px;
    }

    .navbar {
        border-top: solid rgba(136,136,136, 0.3) 2px;
        border-bottom: solid rgba(136,136,136, 0.3) 2px;
        width: 100%;
        height: auto;
        background-color: var(--color-normal);
        position: absolute;
        top: 100%;
        left: -100%;
        right: 0;
        transition: 0.5s ease-in-out;  
    }

    .navbar.active {
        left: 0;
        transition: 0.5s ease-in-out;
    }

    .navbar ul {
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .navbar ul li {
        margin-top: 10px;
        width: 100%;
    }

    .navbar ul li a {
        font-size: 16px;
        font-weight: 500;
        padding: 15px;
        display: block;
        width: 100%;
        background-color: rgb(70, 67, 67);
        color: var(--color-normal);
    }

    h1 {
        font-size: 50px;
    }
    span {
        font-size: 18px;
    }

}

@media screen and (max-width: 1100px) {


    h1 {
        font-size: 40px;
    }
    span {
        font-size: 16px;
    }
    
   
  }

  @media screen and (max-width: 860px) {

    
    .swiper .swiper-slide img {
        height: 300px;
        width: auto;
    }

    .home .swiper .swiper-slide {
        height: 500px;
    }

    .footer .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .trust {
        padding: 20px;
    }

    .trust .trust-wrapper {
        gap: 10px;
    }
    .trust .trust-wrapper .trust-card {
        width: 150px;
        height: auto;
        padding: 5px;
    }

    .trust-card i {
        font-size: 50px;
        color: var(--bg-color-light);
        margin-top: 20px;
    }
    .trust-card h3 {
        font-size: 16px;
        margin: 10px 0;
    }    

    .trust-card h5 {
        margin: 0;
    }

    .about {
        background-attachment: scroll;
    }


  }
  @media screen and (max-width: 750px) {

    .home .swiper .swiper-slide {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .swiper .swiper-slide img {
        height: 350px;
        width: auto;
        margin-top: 40px;
    }

    .home .swiper .swiper-slide {
        height: 700px;
    }

    .swiper .swiper-slide .hero-content {
        text-align: center;
    }
    .swiper-slide .hero-content h1 {
        margin: 10px 0;
    }

    #menu .menu-container .card {
        width: 300px;
        height: auto;
    }

  }

  @media screen and (max-width: 590px) {
    
    .input-wrapper .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 20px;
    }
    
    .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 10px;
    }

    .footer-menu .icons i {
        margin: 0 5px;
    }


    .quiz-image img {
        height: 200px;
        width: auto;
    }

    .top-btn {
        bottom: 30px;
        right: 30px;
        height: 50px;
        width: 50px;
    }
    .top-btn .fa-chevron-up {

        font-size: 20px;
    }
    
  }
  @media screen and (max-width: 470px) {
    .logo {
        font-size: 30px;
    }

    .icons i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    
    }
  }
  @media screen and (max-width: 440px) {
    .logo {
        font-size: 25px;
    }

    .icons i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    
    }
  }

  @media screen and (max-width: 400px) {

    .swiper .swiper-slide img {
        height: 300px;
        width: auto;
        margin-top: 40px;
    }

    .swiper-slide .hero-content h1 {
        margin: 0 20px;
    }

    .footer .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .footer .footer-container .footer-menu {
        text-align: center;
    }
    
  }

  @media screen and (max-width: 400px) {
    .logo {
        font-size: 20px;
    }
}