body{
    background-image:url(https://as2.ftcdn.net/v2/jpg/03/56/51/43/1000_F_356514318_NeXaNHkMDo9cie2qeVwQADbq5zcK2r3F.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
}

.mydetails {
	display: inline-block;
	width: 398px;
	background-color: #cc9966;
	width: 800px;
	margin-left: 450px;
	margin-bottom: 40px;
	border-radius: 25px;
}
.role {
	text-align: center;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 20px;
}
.tasks li {
	
	list-style-type: square;
	margin-left: 350px;
	float: left-side;
	text-align: left;
}
.information {
	text-align: center;
	list-style-type: square;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 20px;
}
#heading {
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	font-family: Apple Chancery, cursive;
}
hr {
	border: 1px solid black;
}